<h1> Welcome to My Aplication </h1>

<h3> LOGIN </h3>

<form method="POST" action="/userdetails">
	<p>Enter your name</p>
	<input type="text" name="name">

	<p>Enter your email</p>
	<input type="text" name="email">

	<p>Enter your password</p>
	<input type="password" name="password">

	<br><br>

	<input type="submit" name="submit">
</form>

<a href="/logout">LOGOUT</a>